<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Comparative Analysis</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">
</head>

<body>
    <nav>
        <ul>
            <li><a href="/">Predictor</a></li>
            <li><a href="/dmartdashboard">DMart Dashboard</a></li>
            <li><a href="/comparativeanalysis">Comparative Analysis</a></li>
        </ul>
    </nav>

    <h1>Comparative Analysis</h1>
    <div class="container">
        <img src="{{ url_for('static', filename='image2.png') }}" alt="Image 1"
            style="width:45%; float:left; margin-right:5%;">
        <img src="{{ url_for('static', filename='image1.png') }}" alt="Image 2" style="width:45%; float:left;">
    </div>
</body>

</html>